<ion-view view-title="{{ item.name }}" ng-swipe-right="swipeRight()" ng-swipe-left="swipeLeft()">
  <ion-nav-buttons side="right">
    <button ng-click="openPopover($event)" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-pane style="top:93px; height:300px;" data-tap-disabled="true">
     <leaflet center="center" markers="markersHash" defaults="defaults" width="100%" height="300px"></leaflet>
  </ion-pane>
  <ion-content class="has-header" style="top:397px;">
    <ion-list>
      <ion-item collection-repeat="stand in filteredStands" collection-item-height="50" ng-click="" ui-sref="tab.stand({ type: 'club', id: stand.id})">
        {{ stand.name }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
