<ion-view view-title="Veranstaltungsprogramm" ng-swipe-right="swipeRight()" ng-swipe-left="swipeLeft()">
  <ion-pane style="top:93px; height:100px">
    <ion-list>  
      <label class="item item-input item-select">
        <div class="input-label">
          Platz 
        </div>
        <select ng-model="requestedStage">
          <option value="58">Museumsplatz</option>
          <option value="59">Marktplatz</option>
          <option value="60">Karlsplatz</option>
          <option value="61">MET-Jazz</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Tag
        </div>
        <select ng-model="requestedDay">
          <option value="6">Samstag</option>
          <option value="0">Sonntag</option>
          <option value="1">Montag</option>
        </select>
      </label>
    </ion-list>  
  </ion-pane>
  <ion-content style="top:163px" class="has-header has-subheader">
   <div class="list list-inset">
     <div class="item item-divider" style="margin-bottom:10px;margin-top:10px;" ng-repeat="stage in stages | filter:stageFilter">
       {{ stage.name }}
       <div ng-repeat="event in events | filter:{poi: stage.id} | filter:dayFilter" ui-sref="tab.stage({ id: stage.id })" ng-click="">
         <div class="item item-divider" ng-switch on="event.end">
           <span ng-switch-when="">
             {{ event.start | date : "HH:mm" }}
           </span>
           <span ng-switch-default>
             {{ event.start | date : "HH:mm" }} - {{ event.end | date : "HH:mm"}}
           </span>
         </div>
         <div class="item item-text-wrapper">
           {{ event.name }}
           <span class="item-note item-text-wrap" ng-bind-html="event.remark">
           </span>
         </div>
       </div>
     </div>
    </div>
  
  </ion-content>
</ion-view>
