<ion-view view-title="{{ stand.name }}" ng-swipe-right="swipeRight()" ng-swipe-left="swipeLeft()">
  <ion-nav-buttons side="right">
    <button ng-click="openPopover($event)" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-pane style="top:93px; height:300px;" data-tap-disabled="true">
     <leaflet center="center" markers="markersHash" defaults="defaults" width="100%" height="300px"></leaflet>
  </ion-pane>
  <ion-content class="has-header" style="top:367px;">
    <div class="list list-inset">
      <div class="item item-divider item-text-wrap" style="margin-bottom:10px;margin-top:10px;">
        <h2>{{ stand.name }}</h2>
        <p><a ng-if="stand.url" href="http://{{stand.url}}">{{stand.url}}</a></p>
        <p class="item-text-wrap" ng-if="stand.description">{{stand.description}}</p>
        <div style="margin-top:10px;">
          <div ng-repeat="item in itemArray" class="item item-text-wrapper" ui-sref="tab.detail({ type: item.type, id: item.id})" ng-click="">
            {{item.name}}
          </div>
        </div>
      <div>
    </div>
  </ion-content>
</ion-view>
