<ion-view view-title="Busfahrplan" ng-swipe-right="swipeRight()" ng-swipe-left="swipeLeft()">
    <ion-pane style="top:93px; height:180px">
        <ion-list>
            <label class="item item-input item-select">
                <div class="input-label">Richtung</div>
                <select ng-model="selectedDestination" ng-change="scrollTop()"
                        ng-options="busline.id as busline.destination for busline in buslines">
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Tag</div>
                <select ng-model="selectedDay" ng-change="scrollTop()" ng-options="day.id as day.name for day in days">
                </select>
            </label>
            <a ui-sref="tab.busstop()" style="color: #666; text-decoration:none">
                <div class="item item-text-wrap item-icon-left" style="padding-bottom:8px;padding-top:10px;">
                    <i class="icon ion-ios-information-outline"></i>
                    <ul>
                        <li>Rückfahrtszeiten (ab 19:30 Uhr)</li>
                        <li>ab Haltestelle ZOB/Ballei</li>
                    </ul>
                </div>
            </a>
        </ion-list>
    </ion-pane>

    <ion-content style="top:243px" class="has-header has-subheader">
        <div class="list list-inset">
            <div class="item item-divider" style="margin-bottom:10px;margin-top:10px;"
                 ng-repeat="busline in buslines | filter:buslineFilter">
                {{ busline.destination }} ({{busline.line}})
                <div ng-repeat="busdeparture in busdepartures | filter:depatureFilter | orderBy: 'date'">
                    <div class="item item-text-wrapper" style="background-color:#f5f5f5;">
                        {{ busdeparture.departuretime }}
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
