<ion-view view-title="Busfahrplan" ng-swipe-right="swipeRight()" ng-swipe-left="swipeLeft()">
  <ion-pane style="top:93px; height:180px">
    <ion-list>  
      <label class="item item-input item-select">
        <div class="input-label">
          Richtung
        </div>
        <select ng-model="requestedDestination">
          <option value="1">Amorbach</option>
          <option value="2">Dahenfeld</option>
          <option value="3">Neuberg</option>
          <option value="4">Obereisesheim</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Tag
        </div>
        <select ng-model="requestedDay">
          <option value="6">Samstag</option>
          <option value="0">Sonntag</option>
          <option value="1">Montag</option>
        </select>
      </label>
      <div class="item item-text-wrap item-icon-left" style="padding-bottom:8px;padding-top:10px;">
        <i class="icon ion-ios-information-outline"></i>
        <ul>
          <li>Rückfahrtszeiten (ab 19:30 Uhr)</li>
          <li>ab Haltestelle ZOB/Ballei</li>
        </ul>
      </div>
    </ion-list>  
  </ion-pane>  

  <ion-content style="top:243px" class="has-header has-subheader">
   <div class="list list-inset">
     <div class="item item-divider" style="margin-bottom:10px;margin-top:10px;" ng-repeat="direction in directions | filter:directionFilter">
       {{ direction.destination }}
       <div ng-repeat="busstop in busstops | filter:{direction: direction.id} | filter:dayFilter">
         <div class="item item-text-wrapper">
           {{ busstop.time | date: "HH:mm" }}
         </div>
       </div>
     </div>
    </div>
  
  </ion-content>
</ion-view>
